.wrap {
	width: 880px;
	padding: 10px;
	overflow: auto;
}
.box {
	border: 1px solid #d4dcda;
	border-radius: 8px;
	width: 200px;
	margin: 5px;
	padding: 10px;
	float: left;
	color: #999999;
	display: inline;  /* IE6 fix */
}
